USE [master]
GO
/****** Object:  Database [QuanLyVanThu]    Script Date: 9/9/2018 12:45:27 AM ******/
CREATE DATABASE [QuanLyVanThu]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyVanThu', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyVanThu.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyVanThu_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\QuanLyVanThu_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyVanThu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyVanThu]
GO
/****** Object:  Table [dbo].[CoQuan]    Script Date: 9/9/2018 12:45:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CoQuan](
	[MaCQ] [int] IDENTITY(1,1) NOT NULL,
	[TenCQ] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[SDT] [int] NOT NULL,
	[NguoiDungDau] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CoQuan] PRIMARY KEY CLUSTERED 
(
	[MaCQ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonViNhan]    Script Date: 9/9/2018 12:45:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonViNhan](
	[MaDVN] [int] IDENTITY(1,1) NOT NULL,
	[TenDVN] [nvarchar](200) NOT NULL,
	[DiaChi] [nvarchar](200) NOT NULL,
	[SDT] [int] NOT NULL,
	[NgayNhan] [smalldatetime] NOT NULL,
	[MaCQ] [int] NOT NULL,
 CONSTRAINT [PK_DonViNhan] PRIMARY KEY CLUSTERED 
(
	[MaDVN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiCongVan]    Script Date: 9/9/2018 12:45:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiCongVan](
	[MaLCV] [int] IDENTITY(1,1) NOT NULL,
	[TenLCV] [nvarchar](50) NULL,
 CONSTRAINT [PK_LoaiCongVan] PRIMARY KEY CLUSTERED 
(
	[MaLCV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuGui]    Script Date: 9/9/2018 12:45:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuGui](
	[MaPG] [int] IDENTITY(1,1) NOT NULL,
	[NgayGui] [smalldatetime] NOT NULL,
	[NguoiGui] [nvarchar](50) NOT NULL,
	[MaCQ] [int] NOT NULL,
 CONSTRAINT [PK_PhieuGui] PRIMARY KEY CLUSTERED 
(
	[MaPG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuNhan]    Script Date: 9/9/2018 12:45:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhan](
	[MaPN] [int] IDENTITY(1,1) NOT NULL,
	[NgayNhan] [smalldatetime] NOT NULL,
	[NguoiNhan] [nvarchar](50) NOT NULL,
	[MaDVN] [int] NOT NULL,
 CONSTRAINT [PK_PhieuNhan] PRIMARY KEY CLUSTERED 
(
	[MaPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[VanThu]    Script Date: 9/9/2018 12:45:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VanThu](
	[MaVT] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](50) NOT NULL,
	[MaCQ] [int] NOT NULL,
	[MaLCV] [int] NOT NULL,
 CONSTRAINT [PK_VanThu] PRIMARY KEY CLUSTERED 
(
	[MaVT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CoQuan] ON 

INSERT [dbo].[CoQuan] ([MaCQ], [TenCQ], [DiaChi], [SDT], [NguoiDungDau]) VALUES (1, N'FPT SoftWare', N'Hồ Chí Minh', 5441454, N'Hoàng Nam Tiến')
INSERT [dbo].[CoQuan] ([MaCQ], [TenCQ], [DiaChi], [SDT], [NguoiDungDau]) VALUES (4, N'dsfdsf', N'fsdf', 654549999, N'fdsfsdf')
SET IDENTITY_INSERT [dbo].[CoQuan] OFF
SET IDENTITY_INSERT [dbo].[DonViNhan] ON 

INSERT [dbo].[DonViNhan] ([MaDVN], [TenDVN], [DiaChi], [SDT], [NgayNhan], [MaCQ]) VALUES (1, N'Sở tài nguyên', N'Hồ Chí Minh', 5465468, CAST(N'2018-09-08 00:00:00' AS SmallDateTime), 1)
INSERT [dbo].[DonViNhan] ([MaDVN], [TenDVN], [DiaChi], [SDT], [NgayNhan], [MaCQ]) VALUES (3, N'tài nguyên', N'fdgdfgfdg', 543546, CAST(N'2018-09-09 00:00:00' AS SmallDateTime), 1)
SET IDENTITY_INSERT [dbo].[DonViNhan] OFF
SET IDENTITY_INSERT [dbo].[LoaiCongVan] ON 

INSERT [dbo].[LoaiCongVan] ([MaLCV], [TenLCV]) VALUES (1, N'Thông báo')
INSERT [dbo].[LoaiCongVan] ([MaLCV], [TenLCV]) VALUES (2, N'Quyết định')
INSERT [dbo].[LoaiCongVan] ([MaLCV], [TenLCV]) VALUES (3, N'Nghị định')
SET IDENTITY_INSERT [dbo].[LoaiCongVan] OFF
SET IDENTITY_INSERT [dbo].[PhieuGui] ON 

INSERT [dbo].[PhieuGui] ([MaPG], [NgayGui], [NguoiGui], [MaCQ]) VALUES (1, CAST(N'2018-09-07 00:00:00' AS SmallDateTime), N'Hoàng Nam Tiến', 1)
INSERT [dbo].[PhieuGui] ([MaPG], [NgayGui], [NguoiGui], [MaCQ]) VALUES (3, CAST(N'2018-09-05 00:00:00' AS SmallDateTime), N'Ngô Quốc Cường', 4)
SET IDENTITY_INSERT [dbo].[PhieuGui] OFF
SET IDENTITY_INSERT [dbo].[PhieuNhan] ON 

INSERT [dbo].[PhieuNhan] ([MaPN], [NgayNhan], [NguoiNhan], [MaDVN]) VALUES (1, CAST(N'2018-09-08 00:00:00' AS SmallDateTime), N'Hoàng Nam Tiến', 1)
INSERT [dbo].[PhieuNhan] ([MaPN], [NgayNhan], [NguoiNhan], [MaDVN]) VALUES (2, CAST(N'2014-10-08 00:00:00' AS SmallDateTime), N'Óc Chó', 1)
INSERT [dbo].[PhieuNhan] ([MaPN], [NgayNhan], [NguoiNhan], [MaDVN]) VALUES (3, CAST(N'2018-09-08 00:00:00' AS SmallDateTime), N'Con mẹ mày', 3)
SET IDENTITY_INSERT [dbo].[PhieuNhan] OFF
SET IDENTITY_INSERT [dbo].[VanThu] ON 

INSERT [dbo].[VanThu] ([MaVT], [TieuDe], [MaCQ], [MaLCV]) VALUES (1, N'cọn cac', 1, 1)
INSERT [dbo].[VanThu] ([MaVT], [TieuDe], [MaCQ], [MaLCV]) VALUES (2, N'jhkjhkj', 4, 4)
SET IDENTITY_INSERT [dbo].[VanThu] OFF
ALTER TABLE [dbo].[DonViNhan]  WITH CHECK ADD  CONSTRAINT [FK_DonViNhan_CoQuan] FOREIGN KEY([MaCQ])
REFERENCES [dbo].[CoQuan] ([MaCQ])
GO
ALTER TABLE [dbo].[DonViNhan] CHECK CONSTRAINT [FK_DonViNhan_CoQuan]
GO
ALTER TABLE [dbo].[PhieuGui]  WITH CHECK ADD  CONSTRAINT [FK_PhieuGui_CoQuan] FOREIGN KEY([MaCQ])
REFERENCES [dbo].[CoQuan] ([MaCQ])
GO
ALTER TABLE [dbo].[PhieuGui] CHECK CONSTRAINT [FK_PhieuGui_CoQuan]
GO
ALTER TABLE [dbo].[PhieuNhan]  WITH CHECK ADD  CONSTRAINT [FK_PhieuNhan_DonViNhan] FOREIGN KEY([MaDVN])
REFERENCES [dbo].[DonViNhan] ([MaDVN])
GO
ALTER TABLE [dbo].[PhieuNhan] CHECK CONSTRAINT [FK_PhieuNhan_DonViNhan]
GO
ALTER TABLE [dbo].[VanThu]  WITH CHECK ADD  CONSTRAINT [FK_VanThu_CoQuan] FOREIGN KEY([MaCQ])
REFERENCES [dbo].[CoQuan] ([MaCQ])
GO
ALTER TABLE [dbo].[VanThu] CHECK CONSTRAINT [FK_VanThu_CoQuan]
GO
ALTER TABLE [dbo].[VanThu]  WITH CHECK ADD  CONSTRAINT [FK_VanThu_LoaiCongVan] FOREIGN KEY([MaLCV])
REFERENCES [dbo].[LoaiCongVan] ([MaLCV])
GO
ALTER TABLE [dbo].[VanThu] CHECK CONSTRAINT [FK_VanThu_LoaiCongVan]
GO
USE [master]
GO
